

        h1 {
            font-size: 30px;
            color: #000000;
            margin: 20px auto 20px auto;
            display:none ;
            text-align: center;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 22px;
            color: #343434;
        }

        body {
            background-color: #232323;
        }

        .container {
            width: 100%;
            overflow: hidden;
            min-width: 700px;
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }

        /* .knobContainer {
            text-align: center;
            margin: 10px;
        }

        .knobContainer canvas {
            cursor: pointer;
        }

        .rightPanel {
            float: right;
            width: 223px;
            border-radius: 5px;
            margin-left: 5px;
        } */

        /* Specific mapael css class are below
         * 'mapael' class is added by plugin
        */
        
        .mapael .mapTooltip {
            position: absolute;
            background-color: #fff;
            opacity: 0.80;
            filter: alpha(opacity=80);
            border-radius: 5px;
            padding: 10px;
            z-index: 1000;
            max-width: 200px;
            display: none;
            color: #232323;
        }
        
        .mapael .map {
            margin-right: auto;
            margin-left: auto;
            overflow: hidden;
            position: relative;
            background-color: #232323;
            border: solid #fff;
            border-width: 2px;
            border-radius: 8px;
            min-width: 500px; 
            /* if width < 500, enter mobile mod  */
            max-width: 100%;
            min-height: 500px;
            max-height: 100%;
        }

        /* For all zoom buttons */
        .mapael .zoomButton {
            background-color: rgb(124, 124, 124);
            border: 2px solid rgb(255, 255, 255);
            border-radius: 5px;
            color: rgb(255, 255, 255);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            position: absolute;
            font-size: x-large;
            font-weight: 800;
            left: 10px;
            -webkit-user-select: none;
            -khtml-user-select : none;
            -moz-user-select: none;
            -o-user-select : none;
            user-select: none;
        }

        /* Reset Zoom button first */
        .mapael .zoomReset {
            top: 10px;
        }

        /* Then Zoom In button */
        .mapael .zoomIn {
            top: 50px;
        }

        /* Then Zoom Out button */
        .mapael .zoomOut {
            top: 90px;
        }
        
        .mapael .zoomButton:hover {
            background-color: #b7b7b7;
        }